<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arthur.dao.DepartDAO">

    <insert id="saveDepart" parameterType="depart" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO depart (id, name, dbname) VALUES (#{id}, #{name}, #{dbname})
    </insert>

    <select id="getDepartById" resultType="depart">
        SELECT * FROM depart WHERE id = #{id}
    </select>

    <select id="queryAllDeparts" resultType="depart">
        SELECT * FROM depart
    </select>
</mapper>